nav {
    position: fixed !important;
    top: 0;
    width: 100%;
}

section.main-content {
    position: fixed !important;
    top: 56px;
    bottom: 56px;
    width: 100%;
    overflow-y: scroll;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
}